.top-header {
  background-color: #fffbf0;
  padding-bottom: 100px;
}

.logo {
  width: 250px;
  height: 39px;
}

.specital-color {
  color: #fabe4c;
}

.winter {
  color: #363958;
}

.buy-now-btn {
  width: 140px;
  height: 50px;
  border: 0;
  background-color: #a4bc46;
  color: white;
  border-radius: 5px;
}
